*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Buttons{
  width: 90%;
  height: 60px;
  background-color: rgb(141, 137, 137);
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin-left: 40px;
}

button{
  padding: 8px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}